html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@media (min-width: 576px) {
.container, .container-sm {
    max-width: 1540px;
    font-family : monospace;
}
}

@media (max-width: 720px) {
  .product-card {
    flex: 1 20%;
  }
}


body{
  font-family: monospace;
  line-height: 1;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;

}

.page-header {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}



.products {
  display: flex;
  flex-wrap: wrap;
  margin-top: 14px !important;
  margin-bottom: 14px !important;	
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
  flex-flow: row wrap;
  display: inline-flex;
}

.product-card {
  padding: 2%;
  flex-grow: 1;
  flex-basis: 16%;
  display: flex;
  width: 300px;
  height: 250px;
  box-sizing: inherit;
}

.product-image {
  width: 150px;
  height: 200px;
}

.product-image img {
  max-width: 100%;
  box-sizing: border-box;
}


.product-info {
  margin-top: auto;
  width: 275px;
  height: 75px;
  padding: 2%;
  font-weight: inherit;
}


#product-name{
  text-align: center;
  color: #58595B;
}

#category {
  text-align: left !important;
  color: #939598;
  display: inline-block;
  width: 150px;
  height: 20px;
}

#price {
  text-align: right !important;
  color: #58595B;
  display: inline-block;
  width: 100px;
  height: 20px;
}






/* ----------------- */
/* .App {
  text-align: center;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

.product__details > .card {
  margin-top: 14px !important;
  margin-bottom: 14px !important;	
  margin-right: 20px;
  margin-left: 20px;
  width: 275px !important;
  height: 250px;
  /* justify-content: flex-end !important; */
  /* display: flex!important; */
  box-sizing: inherit;
}

.product__details {
  position: relative;
  flex-flow: row wrap;
  display: inline-flex;
}
